<form method="post" action="{{ path('header_delete', {'id': header.id}) }}" onsubmit="return confirm('Merci de confirmer la suppression du devis {{ header.title }}.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ header.id) }}">
    <button class="btn btn-block btn-sm btn-danger">Supprimer le Devis</button>
</form>