{% extends 'base.html.twig' %}

{#{% block title %}Edit Detail{% endblock %}#}

{#{% block body %}#}
    {#<div class="container">#}
        {#<div class="row col-md-12 form-group">#}
            {#<h2>Modification</h2>#}
        {#</div>#}

        {#{{ include('detail/_form.html.twig') }}#}

            {#<div class="col-md-3">#}
                {#<a href="{{ path('header_edit', {'id': detail.header.id}) }}" class="btn btn-block btn-sm btn-info">Retour</a>#}
            {#</div>#}
            {#<div class="col-md-3">#}
                {#{{ include('detail/_delete_form.html.twig') }}#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}