{% extends 'base.html.twig' %}

{#{% block title %}New Detail{% endblock %}#}

{#{% block body %}#}
    {#<h1>Create new Detail</h1>#}

    {#{{ include('detail/_form.html.twig') }}#}

    {#<div class="col-md-3">#}
        {#<a href="{{ path('header_edit', {'id': 1}) }}" class="btn btn-block btn-sm btn-info">Retour</a>#}
    {#</div>#}
{#{% endblock %}#}