{#<form method="post" action="{{ path('in_charge_person_delete', {'id': in_charge_person.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
    {#<input type="hidden" name="_method" value="DELETE">#}
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ in_charge_person.id) }}">#}
    {#<button class="btn">Delete</button>#}
{#</form>#}