{% extends 'base.html.twig' %}

{#{% block title %}New InChargePerson{% endblock %}#}

{#{% block body %}#}
    {#<h1>Create new InChargePerson</h1>#}

    {#{{ include('in_charge_person/_form.html.twig') }}#}

    {#<a href="{{ path('in_charge_person_index') }}">back to list</a>#}
{#{% endblock %}#}