{% extends 'base.html.twig' %}

{#{% block body %}#}
    {#<div class="container">#}
    {#<div class="row col-md-12 text-center panel">#}
        {#<h2>Nouvelle activité{{ activity.id }}</h2>#}
    {#</div>#}

    {#<div class="row col-md-12 form-group">#}
    {#{{ include('activity/_form.html.twig') }}#}

    {#<div class="row col-md-12">#}
        {#<div class="col-md-3 col-md-2">#}
            {#<a href="{{ path('activity_group_index') }}" class="btn btn-block btn-sm btn-info">Retour</a>#}
        {#</div>#}
    {#</div>#}
{#{% endblock %}#}