<form method="post" action="{{ path('parameter_delete', {'id': parameter.id}) }}" onsubmit="return confirm('Merci de confirmer la suppression du paramètre {{ parameter.paramKey }}.');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parameter.id) }}">
    <button class="btn btn-block btn-sm btn-danger">Supprimer</button>
</form>