{% extends 'base.html.twig' %}
{% block title %}{{ titleConfiguration }}{% endblock %}

{% block body %}
    <div class="container">
    <div class="row col-md-12 text-center panel">
        <h2>Nouveau paramètre</h2>
    </div>

    <div class="row col-md-12 form-group">
        {{ include('parameter/_form.html.twig') }}

        <div class="col-md-3 col-md-2">
            <a href="{{ path('parameter_index') }}" class="btn btn-block btn-sm btn-default">Retour</a>
        </div>
    </div>
{% endblock %}